@use "colors"

@font-face
    font-family: "Golos Text VF"
    src: url("/static/fonts/golos.ttf")

*
    font-family: "Golos Text VF"
    margin: 0
    padding: 0
    box-sizing: border-box

html, body
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    contain: paint
    user-select: none
    position: relative
    font-size: clamp(1lvh, 1.5rem, 2lvh)

a
    color: colors.$sakura
    text-decoration: none
