extends document-layout

block content
    #document-container 
        img#document-logo(src="/images/logos/titled_gray.svg")
        h1 Website Terms and Conditions of Use
        h2 1. Terms
        p By accessing this Website, accessible from sakurator.anafro.ru, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.

        h2 2. Use License
        p Permission is granted to temporarily download one copy of the materials on anafro's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
        ul
            li modify or copy the materials;
            li use the materials for any commercial purpose or for any public display;
            li attempt to reverse engineer any software contained on anafro's Website;
            li remove any copyright or other proprietary notations from the materials; or
            li transferring the materials to another person or "mirror" the materials on any other server.

        p This will let anafro to terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the Terms Of Service Generator.

        h2 3. Disclaimer
        p All the materials on anafro’s Website are provided "as is". anafro makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, anafro does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.

        h2 4. Limitations
        p anafro or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on anafro’s Website, even if anafro or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.

        h2 5. Revisions and Errata
        p The materials appearing on anafro’s Website may include technical, typographical, or photographic errors. anafro will not promise that any of the materials in this Website are accurate, complete, or current. anafro may change the materials contained on its Website at any time without notice. anafro does not make any commitment to update the materials.

        h2 6. Links
        p anafro has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by anafro of the site. The use of any linked website is at the user’s own risk.

        h2 7. Site Terms of Use Modifications
        p anafro may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.

        h2 8. Your Privacy
        p Please read our Privacy Policy.

        h2 9. Governing Law
        p Any claim related to anafro's Website shall be governed by the laws of ru without regards to its conflict of law provisions.