@font-face {
  font-family: "Golos Text VF";
  src: url("../fonts/golos.ttf");
}
* {
  font-family: "Golos Text VF";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  contain: paint;
  user-select: none;
  position: relative;
  font-size: clamp(1lvh, 1.5rem, 2lvh);
  background: url(/images/background.jpg);
  background-size: cover;
}

a {
  color: #FE6D73;
  text-decoration: none;
}

@keyframes content-container__fade-in {
  from {
    transform: scale(1.01);
    opacity: 0;
  }
}
#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
  height: 100vh;
  animation: content-container__fade-in 400ms ease-out;
  padding-inline: clamp(3lvw, 12rem, 10lvw);
  padding-block: 8rem;
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}

#alphabet-switch-panel {
  display: flex;
  column-gap: 0.75rem;
  align-items: center;
  justify-content: center;
}

#alphabet-switch {
  position: relative;
  display: inline-block;
  width: 4em;
  height: 2em;
  font-size: 1.5rem;
}

#alphabet-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

#alphabet-switch-checkbox:checked + #alphabet-switch-slider {
  background-color: rgb(109, 203, 199.1103448276);
}
#alphabet-switch-checkbox:checked + #alphabet-switch-slider:before {
  transform: translateX(2em);
}

#alphabet-switch-slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #FE6D73;
  transition: 200ms cubic-bezier(0.29, 1.52, 0.11, 1);
  border-radius: 999lvmax;
}
#alphabet-switch-slider:before {
  content: "";
  background: white;
  position: absolute;
  height: 1em;
  width: 1em;
  left: 0.5em;
  bottom: 0.5em;
  transition: 200ms cubic-bezier(0.29, 1.52, 0.11, 1);
  border-radius: 100%;
}

.alphabet-switch-title {
  font-size: 2em;
  color: white;
  opacity: 0.2;
  transition: 200ms cubic-bezier(0.29, 1.52, 0.11, 1);
  font-weight: 1000;
}
.alphabet-switch-title.enabled {
  opacity: 1;
}

#rows-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.row-card {
  background: white;
  border: 0px solid transparent;
  width: 10rem;
  height: 10rem;
  padding: 1rem;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1333333333);
  transition: 150ms ease-in;
  box-sizing: border-box;
  cursor: pointer;
}
.row-card:hover {
  transform: scale(1.07) rotate(2deg);
  box-shadow: 0.5rem 0.5rem 0.8rem rgba(0, 0, 0, 0.1333333333);
}
.row-card:hover.hiragana {
  border: 1px #FE6D73 solid;
}
.row-card:hover.katakana {
  border: 1px #6DCBC7 solid;
}

*:has(.row-card:hover) .row-card:not(:hover) {
  opacity: 0.3;
  scale: 0.94;
}

.row-kana {
  width: 70%;
  height: auto;
}

.row-progress {
  width: 70%;
  min-height: 5px;
}
.row-progress * {
  border-radius: 50rem;
  height: 100%;
}

.row-progress-completed.hiragana {
  background: linear-gradient(to right, #FEAF9F, #FE6D73);
}
.row-progress-completed.katakana {
  background: linear-gradient(to right, #6DCBC7, rgb(109, 126.5, 125.7553191489));
}

.row-progress-full {
  width: 100%;
  background-color: #CCCCCC;
}

.row-description {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
  transition: 100ms ease-out;
}

.row-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-completed-icon {
  margin-right: 4px;
  width: 8px;
  display: none;
}

.row-title {
  font-size: 1rem;
  line-height: 1rem;
}

.row-subtitle {
  display: flex;
  align-items: center;
  column-gap: 0.33rem;
  justify-content: center;
  font-size: 11px;
  color: #CCCCCC;
}
.row-subtitle > img {
  width: 1rem;
  aspect-ratio: 1/1;
}

#footer {
  text-align: center;
  color: white;
  opacity: 0.3;
}

#right-panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  align-items: end;
}

#logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

#logo {
  width: 1.5rem;
  height: auto;
  aspect-ratio: 1;
}

#logo-title {
  font-weight: 100;
  color: white;
  text-transform: lowercase;
  transform: translateY(0.1em);
}

#sakura-illustration {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  pointer-events: none;
}

@keyframes transition-circle-expansion {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(282.8427124746);
  }
}
#transition-circle {
  z-index: 9999;
  border-radius: 50rem;
  position: absolute;
  animation: transition-circle-expansion cubic-bezier(0.5, 1, 0.5, 1) 1500ms forwards;
  width: 1lvmax;
  height: 1lvmax;
}
#transition-circle.hiragana {
  background-color: #FE6D73;
}
#transition-circle.katakana {
  background-color: #6DCBC7;
}

@keyframes game-completed {
  from {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.98);
  }
  to {
    opacity: 0;
    transform: scale(1.15);
  }
}
@keyframes game-container-fade-in {
  from {
    opacity: 0;
    transform: scale(0.94);
  }
  60% {
    opacity: 1;
    transform: scale(1.005);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#game-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#game-container.visible {
  display: flex;
  animation: game-container-fade-in 300ms forwards ease-in-out;
}

.game-result {
  display: none;
}
@keyframes game-result-show {
  from {
    opacity: 0;
    transform: scale(6) rotate(-30deg);
  }
  40% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  60% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  to {
    opacity: 0;
    transform: scale(1) rotate(0);
  }
}
.game-result.shown {
  display: inline-block;
  animation: game-result-show 1600ms ease-in;
  opacity: 0;
}

.petals-earned {
  font-size: 4rem;
  display: inline-block;
  line-height: 1rem;
  margin-right: 0.25rem;
  letter-spacing: 0.1rem;
}

.petals-earned-icon {
  width: 3rem;
}

.petals-earned-for {
  font-size: 16px;
  color: #CCCCCC;
  width: 100%;
  text-align: center;
}

#game-column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  row-gap: 1rem;
}
#game-column-container.completed {
  animation: game-completed 300ms ease-in-out;
  opacity: 0;
  transform: scale(1.5);
}

#game-progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#exit-button {
  width: 12px;
  margin-right: 24px;
  cursor: pointer;
}

#game-progress-bar {
  width: 100%;
  height: 2rem;
}
#game-progress-bar * {
  border-radius: 9999rem;
}

#game-progress-bar-full {
  width: 100%;
  height: 100%;
  contain: paint;
  background-color: #CCCCCC;
}

@keyframes game-progress-bar-completed__in-combo {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 500% 500%;
  }
}
#game-progress-bar-completed {
  height: 100%;
  transition: 200ms cubic-bezier(0.71, 1.61, 0.15, 2.09);
  background-size: 500% 500%;
}
#game-progress-bar-completed.in-combo {
  animation: game-progress-bar-completed__in-combo 1000ms infinite linear reverse;
}
#game-progress-bar-completed.hiragana {
  background-image: linear-gradient(to right, #FEAF9F, #FE6D73);
}
#game-progress-bar-completed.hiragana.in-combo {
  background-image: linear-gradient(to right, #FEAF9F, #FE6D73, #FEAF9F);
  box-shadow: 0 0 9px #FEAF9F;
}
#game-progress-bar-completed.katakana {
  background-image: linear-gradient(to right, #6DCBC7, rgb(109, 126.5, 125.7553191489));
}
#game-progress-bar-completed.katakana.in-combo {
  background-image: linear-gradient(to right, #6DCBC7, rgb(109, 126.5, 125.7553191489), #6DCBC7);
  box-shadow: 0 0 9px rgb(109, 126.5, 125.7553191489);
}

#game-panels {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

#kana-image {
  width: 50lvmin;
}

#options {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.5rem;
}

.option {
  display: grid;
  place-items: center;
  border-radius: 0.5rem;
  box-shadow: 0.125rem 0.125rem 0.5rem rgba(0, 0, 0, 0.0666666667);
  cursor: pointer;
  transition: 175ms ease-in-out;
  font-size: 5rem;
  min-width: 8rem;
  height: auto;
  line-height: 1rem;
  aspect-ratio: 1;
  font-weight: 1000;
  border: 1px solid #CCCCCC;
}
.option:hover {
  box-shadow: 0.25rem 0.25rem 0.9rem rgba(0, 0, 0, 0.0470588235);
  transform: scale(1.1);
}
.option:hover.hiragana {
  border: 1px solid #FE6D73;
}
.option:hover.katakana {
  border: 1px solid #6DCBC7;
}

@keyframes game-title__fade-out {
  from {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#title {
  font-size: 1.5rem;
  color: #CCCCCC;
  animation: game-title__fade-out 10000ms ease-out forwards;
}

#document-container {
  width: 90%;
  padding: 2rem 5% 2rem;
}

#document-logo {
  height: 2rem;
}

#error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introduction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  column-gap: 3rem;
}

.letter-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
.letter-introduction.introducing {
  animation: letter-introduction 400ms ease-in-out forwards, letter-introduction-out 600ms 2000ms ease-in-out forwards;
}
.letter-introduction.introducing .letter-introduction-image {
  animation: letter-image-introduction-jump 400ms ease-in-out forwards;
}
.letter-introduction.introducing .letter-introduction-name {
  animation: letter-name-introduction-jump 400ms ease-in-out forwards;
}

.letter-introduction-image {
  width: 8rem;
  aspect-ratio: 1;
}

.letter-introduction-name {
  font-size: 2rem;
}

@keyframes letter-introduction {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes letter-introduction-out {
  from {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  85% {
    transform: scale(1.1) rotate(-5deg);
    opacity: 1;
  }
  to {
    transform: scale(0.5) rotate(45deg);
    opacity: 0;
  }
}
@keyframes letter-image-introduction-jump {
  from {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1, 1.2) rotate(4deg) translateY(-0.33rem);
  }
  to {
    transform: scale(1);
  }
}
@keyframes letter-name-introduction-jump {
  from {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
#row-completed {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#row-completed.visible {
  display: flex;
}
#row-completed.visible #row-completed-medal {
  width: 70%;
  animation: medal-drop 300ms, medal-ambience 2s 4 300ms alternate ease-in-out, medal-removal 400ms 8600ms ease-in-out forwards;
}

@keyframes medal-drop {
  from {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0) skewX(5deg);
  }
  60% {
    transform: translateY(-5%) skewX(-3deg);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes medal-ambience {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2.5%) scale(1.03);
  }
}
@keyframes medal-removal {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateX(40%) translateY(-200%) skew(-40deg);
  }
}
#row-completed-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  opacity: 0;
  animation: row-completed-text-fade-in 1000ms 1000ms ease-in-out forwards, row-completed-text-fade-out 1000ms 7600ms forwards;
}

@keyframes row-completed-text-fade-in {
  from {
    opacity: 0;
    margin-bottom: 0;
  }
  to {
    opacity: 1;
    margin-bottom: 4rem;
  }
}
@keyframes row-completed-text-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#row-completed-title {
  font-weight: 500;
  font-size: 1.6rem;
}

#row-completed-subtitle {
  font-weight: 0;
  opacity: 0.7;
}

#row-completed[data-alphabet=Hiragana] .row-completed-medal-ruby {
  fill: #FE6D73;
}

#row-completed[data-alphabet=Katakana] .row-completed-medal-ruby {
  fill: #6DCBC7;
}

.row-completed-medal-ruby, .row-completed-medal-gold {
  stroke-width: 0px;
}

.row-completed-medal-gold {
  fill: url(#golden-gradient);
}

#progress-reset-button {
  all: unset;
  color: #FE6D73;
  cursor: pointer;
}

#yandex_rtb_R-A-1622843-2 {
  width: 320px;
  height: 100px;
}

@keyframes progress-reset-container-fade-in {
  from {
    opacity: 0;
    transform: rotate(3deg) scale(0.95);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-1deg) scale(1.02);
  }
  to {
    opacity: 1;
  }
}
@keyframes progress-reset-illustration-fade-in {
  from {
    transform: rotate(3deg) scale(0.9);
  }
  50% {
    transform: rotate(-1deg) scale(1.05);
  }
  to {
    opacity: 1;
  }
}
#progress-reset-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#progress-reset-container.visible {
  display: flex;
  animation: progress-reset-container-fade-in 170ms ease-in-out;
}

#progress-reset-illustration {
  animation: progress-reset-illustration-fade-in 200ms ease-in-out;
}

#progress-reset-title {
  font-weight: 500;
  font-size: 1.5rem;
  margin-block-end: 0.8rem;
}

#progress-reset-illustration {
  width: 12rem;
  margin-block-end: 4rem;
}

#progress-reset-buttons-container {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
#progress-reset-buttons-container button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
}

#reset-progress-button {
  background: #FE6D73;
  font-weight: 800;
  color: white;
  border-radius: 0.25rem;
}

#keep-progress-button {
  background: transparent;
  color: #CCCCCC;
}
#keep-progress-button:hover {
  background: rgba(204, 204, 204, 0.1);
}

@media screen and (max-width: 580px) {
  #kana-image {
    width: 60%;
    height: auto;
  }
  #game-column-container {
    justify-content: space-between !important;
    width: 100% !important;
  }
  #game-progress-bar-container {
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
  }
  #game-progress-bar {
    width: 100% !important;
  }
  #game-progress-bar * {
    border-radius: 0 !important;
    height: 16px !important;
  }
  #exit-button {
    margin: 32px !important;
    width: 24px;
    height: auto;
  }
  #title {
    display: none;
  }
}
@media only screen and (max-width: 1030px) {
  #right-panel {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
