@font-face {
  font-family: "Golos Text VF";
  src: url("../fonts/golos.ttf");
}
* {
  font-family: "Golos Text VF";
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  position: relative;
}

#footer {
  margin-bottom: 3%;
}

#alphabet-switch-panel {
  margin-top: 3%;
}

a {
  color: #FE6D73;
  text-decoration: none;
}

#content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  animation: content-container-reveal 400ms ease-out;
}
@keyframes content-container-reveal {
  from {
    transform: scale(1.01);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#content-container > * {
  padding: 8.3333333333% 0;
}
#content-container #left-panel {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
#content-container #left-panel #alphabet-switch-panel {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-checkbox:checked + #alphabet-switch-slider {
  background-color: #6dcbc7;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-checkbox:checked + #alphabet-switch-slider:before {
  -webkit-transform: translateX(34px);
  -ms-transform: translateX(34px);
  transform: translateX(34px);
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-checkbox:focus + #alphabet-switch-slider {
  box-shadow: 0 0 1px #FE6D73;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #FE6D73;
  transition: 0.2s;
  border-radius: 50rem;
}
#content-container #left-panel #alphabet-switch-panel #alphabet-switch #alphabet-switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.2s;
  border-radius: 50rem;
  transition-timing-function: ease-in-out;
}
#content-container #left-panel #alphabet-switch-panel .alphabet-switch-title {
  font-size: 24px;
  padding: 0 16px 0;
  color: #CCCCCC;
  transition: 0.4s;
}
#content-container #left-panel #alphabet-switch-panel .alphabet-switch-title.enabled {
  color: #000000;
}
#content-container #left-panel #rows-container {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 80%;
}
#content-container #left-panel #rows-container .row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  padding: 0.5em 0 0.5em;
  cursor: pointer;
}
#content-container #left-panel #rows-container .row:hover .row-card {
  transform: scale(1.07) rotate(2deg);
  box-shadow: 35px 35px 70px rgba(0, 0, 0, 0.1333333333);
}
#content-container #left-panel #rows-container .row:hover .row-card.hiragana {
  border: 1px #FE6D73 solid;
}
#content-container #left-panel #rows-container .row:hover .row-card.katakana {
  border: 1px #6DCBC7 solid;
}
#content-container #left-panel #rows-container .row:hover .row-kana {
  opacity: 0.85;
}
#content-container #left-panel #rows-container .row:hover .row-description {
  opacity: 1;
}
#content-container #left-panel #rows-container .row:active .row-card {
  transform: scale(0.7) rotate(-3deg);
}
#content-container #left-panel #rows-container .row .row-card {
  border: 0px solid transparent;
  width: 65%;
  height: 65%;
  aspect-ratio: 1/1;
  padding: 5% 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1333333333);
  transition: 150ms ease-in;
  z-index: 10;
  box-sizing: border-box;
}
#content-container #left-panel #rows-container .row .row-card .row-kana {
  width: 70%;
  height: auto;
}
#content-container #left-panel #rows-container .row .row-card .row-progress {
  width: 70%;
  height: 5px;
}
#content-container #left-panel #rows-container .row .row-card .row-progress * {
  border-radius: 50rem;
  height: 100%;
}
#content-container #left-panel #rows-container .row .row-card .row-progress .row-progress-completed.hiragana {
  background: linear-gradient(to right, #FEAF9F, #FE6D73);
}
#content-container #left-panel #rows-container .row .row-card .row-progress .row-progress-completed.katakana {
  background: linear-gradient(to right, #6DCBC7, #6d7f7e);
}
#content-container #left-panel #rows-container .row .row-card .row-progress .row-progress-full {
  width: 100%;
  background-color: #CCCCCC;
}
#content-container #left-panel #rows-container .row .row-description {
  display: flex;
  flex-direction: column;
  padding-top: 0.25em;
  transition: 100ms ease-out;
}
#content-container #left-panel #rows-container .row .row-description .row-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#content-container #left-panel #rows-container .row .row-description .row-completed-icon {
  margin-right: 4px;
  width: 8px;
  display: none;
}
#content-container #left-panel #rows-container .row .row-description .row-title {
  font-size: 12px;
}
#content-container #left-panel #rows-container .row .row-description .row-subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.33em;
  justify-content: center;
  font-size: 11px;
  color: #CCCCCC;
}
#content-container #left-panel #rows-container .row .row-description .row-subtitle > img {
  width: 1em;
  aspect-ratio: 1/1;
}
#content-container #left-panel #footer {
  text-align: center;
  font-size: 12px;
  color: #CCCCCC;
}
#content-container #right-panel {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: end;
  justify-content: space-between;
}
#content-container #right-panel #logo-container {
  padding-right: 2em;
  padding-top: 4.1666666667%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#content-container #right-panel #logo-container #yandex_rtb_R-A-1622843-1 {
  width: 320px;
  height: 100px;
}
#content-container #right-panel #logo-container #logo {
  height: 24px;
  margin-bottom: 24px;
}
#content-container #right-panel #sakura-illustration {
  width: 60%;
  height: auto;
}
@media only screen and (max-width: 1030px) {
  #content-container #right-panel {
    display: none;
  }
  #content-container #left-panel {
    width: 100%;
  }
}

@keyframes transition-circle-expansion {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1500);
  }
}
#transition-circle {
  z-index: 9999;
  border-radius: 50rem;
  position: absolute;
  animation: transition-circle-expansion cubic-bezier(0.5, 1, 0.5, 1) 1500ms;
  width: 2px;
  height: 2px;
  transform: scale(1500);
}
#transition-circle.hiragana {
  background-color: #FE6D73;
}
#transition-circle.katakana {
  background-color: #6DCBC7;
}

@keyframes game-completed {
  from {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.98);
  }
  to {
    opacity: 0;
    transform: scale(1.15);
  }
}
@keyframes game-container-fade-in {
  from {
    opacity: 0;
    transform: scale(0.94);
  }
  60% {
    opacity: 1;
    transform: scale(1.005);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
#game-container {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#game-container.visible {
  display: flex;
  animation: game-container-fade-in 300ms forwards ease-in-out;
}
#game-container #game-results-container .game-result {
  display: none;
}
#game-container #game-results-container .game-result.shown {
  display: inline-block;
  animation: game-result-show 1600ms ease-in;
  opacity: 0;
}
@keyframes game-result-show {
  from {
    opacity: 0;
    transform: scale(6) rotate(-30deg);
  }
  40% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  60% {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  to {
    opacity: 0;
    transform: scale(1) rotate(0);
  }
}
#game-container #game-results-container .game-result.shown .petals-earned {
  font-size: 64px;
  display: inline-block;
  line-height: 1em;
  margin-right: 0.25em;
  letter-spacing: 0.1em;
}
#game-container #game-results-container .game-result.shown .petals-earned-icon {
  width: 48px;
}
#game-container #game-results-container .game-result.shown .petals-earned-for {
  font-size: 16px;
  color: #CCCCCC;
  width: 100%;
  text-align: center;
}
#game-container #game-column-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
#game-container #game-column-container.completed {
  animation: game-completed 300ms ease-in-out;
  opacity: 0;
  transform: scale(1.5);
}
#game-container #game-column-container #game-progress-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#game-container #game-column-container #game-progress-bar-container #exit-button {
  width: 12px;
  margin-right: 24px;
  cursor: pointer;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar {
  width: 100%;
  height: 8px;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar * {
  border-radius: 50em;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full {
  width: 100%;
  height: 100%;
  background-color: #CCCCCC;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full #game-progress-bar-completed {
  height: 100%;
  transition: 200ms ease-out;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full #game-progress-bar-completed.hiragana {
  background: linear-gradient(to right, #FEAF9F, #FE6D73);
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full #game-progress-bar-completed.hiragana.in-combo {
  background: linear-gradient(to right, #f12711, #f5af19);
  box-shadow: 0 0 9px #FE6D73;
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full #game-progress-bar-completed.katakana {
  background: linear-gradient(to right, #6DCBC7, #6d7f7e);
}
#game-container #game-column-container #game-progress-bar-container #game-progress-bar #game-progress-bar-full #game-progress-bar-completed.katakana.in-combo {
  background: linear-gradient(to right, #B2FEFA, #0ED2F7);
  box-shadow: 0 0 9px #0ED2F7;
}
#game-container #game-column-container #game-panels {
  padding-top: 1em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
#game-container #game-column-container #kana-image, #game-container #game-column-container #options {
  width: 12em;
  height: 12em;
}
#game-container #game-column-container #panel-delimiter {
  width: 1px;
  height: 100%;
  margin: 2em 5em;
  background-color: #CCCCCC;
}
#game-container #game-column-container #options {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#game-container #game-column-container #options .option {
  width: 5em;
  height: 4.5rem;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-radius: 12px;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 300ms;
}
#game-container #game-column-container #options .option:hover {
  transform: scale(1.05) rotate(5deg);
}
#game-container #game-column-container #options .option:nth-child(4n), #game-container #game-column-container #options .option:nth-child(4n-1) {
  margin-top: 0.5em;
}
#game-container #game-column-container #options .option:nth-child(4n-2), #game-container #game-column-container #options .option:nth-child(4n-3) {
  margin-bottom: 0.5em;
}
#game-container #game-column-container #options .option:nth-child(2n) {
  margin-right: 0.5em;
}
#game-container #game-column-container #options .option:nth-child(2n+1) {
  margin-left: 0.5em;
}
#game-container #game-column-container #options .option .option-letter {
  font-size: 2.25em;
}
#game-container #game-column-container #options .option.revealed {
  cursor: not-allowed;
}
#game-container #game-column-container #options .option.revealed.correct {
  background: linear-gradient(to right, #FEAF9F, #FE6D73);
}
#game-container #game-column-container #options .option.revealed.incorrect {
  background: #CCCCCC;
}
#game-container #title {
  font-size: 14px;
  color: #CCCCCC;
  text-transform: lowercase;
}
#game-container #title::first-letter {
  text-transform: uppercase;
}

@keyframes petal-rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.petal {
  position: absolute;
  animation: petal-rotation 2s ease-in-out infinite alternate-reverse;
  z-index: 1000;
  pointer-events: none;
}

#document-container {
  width: 90%;
  padding: 2em 5% 2em;
}
#document-container #document-logo {
  height: 2em;
}

#error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 580px) {
  #game-container #game-panels {
    flex-direction: column !important;
    width: 100% !important;
    flex-grow: 1 !important;
  }
  #game-container #game-panels #kana-image {
    width: 60%;
    height: auto;
  }
  #game-container #game-panels #options {
    width: 100% !important;
    justify-content: space-around;
  }
  #game-container #game-panels #options .option:nth-child(4n), #game-container #game-panels #options .option:nth-child(4n-1) {
    margin-top: unset !important;
  }
  #game-container #game-panels #options .option:nth-child(4n-2), #game-container #game-panels #options .option:nth-child(4n-3) {
    margin-bottom: unset !important;
  }
  #game-container #game-panels #options .option:nth-child(2n) {
    margin-right: unset !important;
  }
  #game-container #game-panels #options .option:nth-child(2n+1) {
    margin-left: unset !important;
  }
  #game-container #game-panels #panel-delimiter {
    display: none !important;
  }
  #game-container #game-column-container {
    justify-content: space-between !important;
    width: 100% !important;
  }
  #game-container #game-column-container #game-progress-bar-container {
    flex-direction: column-reverse !important;
    align-items: flex-start !important;
  }
  #game-container #game-column-container #game-progress-bar-container #game-progress-bar {
    width: 100% !important;
  }
  #game-container #game-column-container #game-progress-bar-container #game-progress-bar * {
    border-radius: 0 !important;
    height: 16px !important;
  }
  #game-container #game-column-container #game-progress-bar-container #exit-button {
    margin: 32px !important;
    width: 24px;
    height: auto;
  }
  #game-container #game-column-container #title {
    display: none;
  }
}
#introduction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  column-gap: 3em;
}
#introduction-container .letter-introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}
#introduction-container .letter-introduction .letter-introduction-image {
  width: 8em;
  aspect-ratio: 1/1;
}
#introduction-container .letter-introduction .letter-introduction-name {
  font-size: 2em;
}
#introduction-container .letter-introduction.introducing {
  animation: letter-introduction 400ms ease-in-out forwards, letter-introduction-out 600ms 2000ms ease-in-out forwards;
}
#introduction-container .letter-introduction.introducing .letter-introduction-image {
  animation: letter-image-introduction-jump 400ms ease-in-out forwards;
}
#introduction-container .letter-introduction.introducing .letter-introduction-name {
  animation: letter-name-introduction-jump 400ms ease-in-out forwards;
}

@keyframes letter-introduction {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes letter-introduction-out {
  from {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
  85% {
    transform: scale(1.1) rotate(-5deg);
    opacity: 1;
  }
  to {
    transform: scale(0.5) rotate(45deg);
    opacity: 0;
  }
}
@keyframes letter-image-introduction-jump {
  from {
    transform: scale(1);
  }
  15% {
    transform: scale(1.1, 1.2) rotate(4deg) translateY(-0.33em);
  }
  to {
    transform: scale(1);
  }
}
@keyframes letter-name-introduction-jump {
  from {
    opacity: 1;
  }
  15% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
#row-completed {
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
#row-completed.visible {
  display: flex;
}
#row-completed.visible #row-completed-medal {
  width: 70%;
  animation: medal-drop 300ms, medal-ambience 2s 4 300ms alternate ease-in-out, medal-removal 400ms 8600ms ease-in-out forwards;
}

@keyframes medal-drop {
  from {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0) skewX(5deg);
  }
  60% {
    transform: translateY(-5%) skewX(-3deg);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes medal-ambience {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2.5%) scale(1.03);
  }
}
@keyframes medal-removal {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateX(40%) translateY(-200%) skew(-40deg);
  }
}
#row-completed-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
  opacity: 0;
  animation: row-completed-text-fade-in 1000ms 1000ms ease-in-out forwards, row-completed-text-fade-out 1000ms 7600ms forwards;
}

@keyframes row-completed-text-fade-in {
  from {
    opacity: 0;
    margin-bottom: 0em;
  }
  to {
    opacity: 1;
    margin-bottom: 4em;
  }
}
@keyframes row-completed-text-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
#row-completed-title {
  font-weight: 500;
  font-size: 1.6em;
}

#row-completed-subtitle {
  font-weight: 0;
  opacity: 0.7;
}

#row-completed[data-alphabet=Hiragana] .row-completed-medal-ruby {
  fill: #FE6D73;
}

#row-completed[data-alphabet=Katakana] .row-completed-medal-ruby {
  fill: #6DCBC7;
}

.row-completed-medal-ruby, .row-completed-medal-gold {
  stroke-width: 0px;
}

.row-completed-medal-gold {
  fill: url(#golden-gradient);
}

#progress-reset-button {
  all: unset;
  color: #FE6D73;
  cursor: pointer;
}

#yandex_rtb_R-A-1622843-2 {
  width: 320px;
  height: 100px;
}

@keyframes progress-reset-container-fade-in {
  from {
    opacity: 0;
    transform: rotate(3deg) scale(0.95);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-1deg) scale(1.02);
  }
  to {
    opacity: 1;
  }
}
@keyframes progress-reset-illustration-fade-in {
  from {
    transform: rotate(3deg) scale(0.9);
  }
  50% {
    transform: rotate(-1deg) scale(1.05);
  }
  to {
    opacity: 1;
  }
}
#progress-reset-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  row-gap: 6em;
}
#progress-reset-container.visible {
  display: flex;
  animation: progress-reset-container-fade-in 300ms ease-in-out;
}
#progress-reset-container.visible #progress-reset-illustration {
  animation: progress-reset-illustration-fade-in 400ms ease-in-out;
}
#progress-reset-container #progress-reset-title {
  font-weight: 500;
  font-size: 1.5em;
}
#progress-reset-container #progress-reset-illustration {
  width: 12em;
}
#progress-reset-container #progress-reset-buttons-container {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  jusify-content: center;
}
#progress-reset-container #progress-reset-buttons-container button {
  all: unset;
  cursor: pointer;
}
#progress-reset-container #progress-reset-buttons-container #reset-progress-button {
  background: #FE6D73;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
}
#progress-reset-container #progress-reset-buttons-container #keep-progress-button {
  color: #CCCCCC;
  text-decoration: underline;
}

/*# sourceMappingURL=app.css.map */
