@use 'colors'

#game-container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 100%
    height: 100lvh
    background: white
    animation: game-container-fade-in 300ms forwards ease-in-out

#game-column-container
    display: flex
    align-items: center
    justify-content: center
    flex-direction: column
    width: 50%
    row-gap: 1rem
    &.completed
        animation: game-completed 300ms ease-in-out
        opacity: 0
        transform: scale(1.5)

#game-progress-bar-container
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
    justify-content: center

#exit-button
    width: 12px
    margin-right: 24px
    cursor: pointer

#game-progress-bar
    width: 100%
    height: 2rem
    *
        border-radius: 9999rem

#game-progress-bar-full
    width: 100%
    height: 100%
    contain: paint
    background-color: colors.$gray

@keyframes game-progress-bar-completed__in-combo
    from
        background-position: 0% 0%
    to
        background-position: 500% 500%

#game-progress-bar-completed
    height: 100%
    transition: 200ms cubic-bezier(.71,1.61,.15,2.09)
    background-size: 500% 500%
    &.in-combo
        animation: game-progress-bar-completed__in-combo 1000ms infinite linear reverse
    &.hiragana
        background-image: colors.$sakura-gradient
        &.in-combo
            background-image: colors.$combo-gradient-hiragana
            box-shadow: 0 0 9px colors.$salmon
    &.katakana
        background-image: colors.$turquoise-gradient
        &.in-combo
            background-image: colors.$combo-gradient-katakana
            box-shadow: 0 0 9px colors.$deepsea

#game-panels
    padding-top: 1rem
    padding-bottom: 0.5rem

#kana-image
    width: 50lvmin

#options
    display: flex
    align-items: center
    justify-content: center
    column-gap: 1.5rem

.option
    display: grid
    place-items: center
    border-radius: 0.5rem
    box-shadow: 0.125rem 0.125rem 0.5rem #00000011
    cursor: pointer
    transition: 175ms ease-in-out
    font-size: 5rem
    min-width: 8rem
    height: auto
    line-height: 1rem
    aspect-ratio: 1
    font-weight: 1000
    border: 1px solid colors.$gray
    &:hover
        box-shadow: 0.25rem 0.25rem 0.9rem #0000000C
        transform: scale(1.10)
        &.hiragana
            border: 1px solid colors.$sakura
        &.katakana
            border: 1px solid colors.$turquoise

@keyframes game-container-fade-in
    from
        opacity: 0
        transform: scale(0.94)
    60%
        opacity: 1
        transform: scale(1.005)
    to
        opacity: 1
        transform: scale(1)

@keyframes game-title__fade-out
    from
        opacity: 0
    20%
        opacity: 1
    to
        opacity: 0

#title
    font-size: 1.5rem
    color: colors.$gray
    animation: game-title__fade-out 10000ms ease-out forwards

@keyframes game-title__fade-out
    from
        opacity: 0
    20%
        opacity: 1
    to
        opacity: 0


@media screen and (max-width: 580px)
    #kana-image
        width: 60%
        height: auto

    #game-column-container
        justify-content: space-between !important
        width: 100% !important

    #game-progress-bar-container
        flex-direction: column-reverse !important
        align-items: flex-start !important  

    #game-progress-bar
        width: 100% !important
        *
            border-radius: 0 !important
            height: 16px !important

    #exit-button
        margin: 32px !important
        width: 24px
        height: auto

    #title
        display: none
