.logo
    display: flex
    align-items: center
    justify-content: center
    column-gap: 0.5rem

.logo__image
    width: 1.5rem
    height: auto
    aspect-ratio: 1

.logo__title
    font-weight: 100
    color: white
    text-transform: lowercase
    transform: translateY(0.1em)
